@font-face {
    font-family: 'Tajawal';
    src: url('fonts/Tajawal-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*body, div, a, span, table, p, form, input, h1, h2, h3, h4 , input , tr , td , ul , li {*/
/*font-family: 'Tajawal', 'sans-serif' !important;*/
/*}*/

.main-menu4 nav ul li a {
    color: white;
}

.dropdown-size {
    border: 2px solid black;
    border-radius: 0;
    height: 40px;
    background-color: white;
}

.cart .add-to-cart button {
    margin: 0;
}

.cart-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-img span.sale-text {
    background-color: goldenrod;
    border: 1px solid lightgray;
}

.product-img span.new-sale {
    background-color: #d8a746;
    border: 1px solid white;
    box-shadow: #0c0c0c;
}

.notification-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f1f1f1;
}

.alert {
    margin-top: 10px;
}

.country-dropdown {
    min-width: 100px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 10px;
}

.footer-service-text p, .footer-copyright address a, golden-link a {
    color: darkgoldenrod !important;
}

.footer-2-service .footer-service-text h2 {
    font-size: small;
}

.middle-footer-text2 h3 {
    color: gray;
}

.btn-theme {
    border-radius: 0px;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.img-xs {
    margin-right: 3px;
    margin-left: 3px;
    width: 25px;
}

.img-xs-visa {
    margin-right: 3px;
    margin-left: 3px;
    width: 75px;
    height: 25px;
}

img-sm {
    height: 100px;
    width: auto;
}

nav > ul > li > a:hover, .mega-menu mega-menu3 > a:hover {
    color: darkgoldenrod !important;
}

.product-img span.sale-text, .cart-item a span.total-cart {
    background-color: darkgoldenrod !important;
}

.price-box {
    padding: 10px;
}

.price-box .new-price {
    color: darkgoldenrod !important;
    padding: 10px;
}

.border-below {
    border-bottom: 1px solid lightgray;
}

@media only screen and (max-width: 450px) {
    .feature-product-4 {
        max-height: 500px !important;
    }

    .img-mobile, .single-procuct-view .simpleLens-lens-image {
        max-width: 300px;
    }
}

.mean-container .mean-bar::after {
    content: '' !important;
}

.btn-size-chart {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 2px solid #444 !important;
    color: #444 !important;
    display: inline-block;
    font-size: 13px !important;
    font-weight: 700 !important;
    margin-right: 20px !important;
    padding: 9px 20px !important;
    text-transform: uppercase !important;
}

.grandTotal {
    font-size: large;
    color: black;
    font-weight : bold;
}
