/*p {*/
    /*text-align : right;*/
/*}*/

/*.button-minus, .button-plus {*/
    /*position: absolute;*/
    /*display: inline-block;*/
    /*top: 23px;*/
    /*right: 11px;*/
/*}*/

/*footer {*/
    /*text-align: right;*/
/*}*/

/*.middle-footer-text2 .footer-address ul li, .middle-footer-text2 .footer-menu ul li a, .middle-footer-text2 > p {*/
    /*text-align : right;*/
/*}*/

.simpleLens-big-image-container, .simpleLens-lens-image{
    direction: ltr;
    /*float: right;*/
}
div.simpleLens-lens-element {
    left: -112%;
}

.button-plus {
    display: inline-block;
    position: relative;
    left: 92px;
    bottom: 7px;
}

.button-minus {
    display: inline-block;
    position: relative;
    left: 109px;
    bottom: 7px;
}

/*.shop-review {*/
    /*padding-right: 30px;*/
    /*text-align: right;*/
/*}*/
/*.add-action ul li {*/
    /*left: 10%;*/
    /*float: left;*/
/*}*/
/*div.add-action ul {*/
    /*width: 115%;*/
/*}*/
/*#size{*/
    /*margin-bottom: 8%;*/
/*}*/


