@font-face {
    font-family: cairo;
    src: url('fonts/Cairo-SemiBold.otf');
}

body, div, a, span, table, p, form, input, h1, h2, h3, h4 {
    font-family: 'cairo', sans-serif !important;
}

.main-menu4 nav ul li a {
    color: white;
}

.dropdown-size {
    border: 2px solid black;
    border-radius: 0;
    height: 40px;
    background-color: white;
}

.cart .add-to-cart button {
    margin: 0;
}

.cart-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-img span.sale-text {
    background-color: goldenrod;
    border: 1px solid lightgray;
}

.product-img span.new-sale {
    background-color: #d8a746;
    border: 1px solid white;
    box-shadow: #0c0c0c;
}

.notification-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f1f1f1;
}

.alert {
    margin-top: 10px;
}
